<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Roll Dice</title>
</head>
<body>
    <h1>Roll Dice Gives Value = <%= diceval  %></h1>

    <% if (diceval == 6){ %>
        <h1>WOW ! you got a extra chance my friend </h1>
     <% } %>
</body>
</html>